@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: flex;
  gap: 20px;
}

.main {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  background-color: #fafbfe;
}

#sidebar {
  width: 70px;
  min-width: 70px;
  z-index: 1000;
  transition: all 0.25s ease-in-out;
  background-color: #11a122;
  display: flex;
  flex-direction: column;
}

#sidebar.expand {
  width: 260px;
  min-width: 260px;
}

.toggle-btn {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 1rem 1.5rem;
}

.toggle-btn i {
  font-size: 1.5rem;
  color: #fff;
}

.sidebar-logo {
  margin: auto 0;
}

.sidebar-logo a {
  color: #fff;
  font-size: 1.15rem;
  font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
  display: none;
}

.sidebar-nav {
  padding: 2rem 0;
  flex: 1 1 auto;
}

a.sidebar-link {
  padding: 0.625rem 1.625rem;
  color: #fff;
  display: block;
  font-size: 0.9rem;
  white-space: nowrap;
  border-left: 3px solid transparent;
}

.sidebar-link i {
  font-size: 1.1rem;
  margin-right: 0.75rem;
}

a.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.075);
  border-left: 3px solid #0e2238;
}

.sidebar-item {
  position: relative;
}
.container {
  display: flex;

  min-height: 100vh;
}
.income {
  position: relative;
  width: 400px;
  height: 540px;
  background: #fafbfe;
  border: 2px solid #11a122;
  padding: 80px 30px 25px 30px;
}
.header {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #11a122;
}
.form-group-1 {
  position: relative;
  display: flex;
  flex-direction: column;
}
.input-control {
  height: 40px;
  background: transparent;

  border: 0;
  border-bottom: 1px solid #070707;
  margin: 15px 0;
  padding: 0 15px;
  outline: none;
}
.input-control:focus,
.input-control:valid {
  border-bottom: 2px solid #11a122;
}
.input-control:focus ~ label,
.input-control:valid ~ label {
  top: 5px;
  font-size: 12px;
  color: #11a122;
}
.form-group-1 label {
  position: absolute;
  margin-bottom: 5px;
  top: 4px;
  left: 3px;
  transition: 0.3s;
  color: #11a122;
}
.submit {
  height: 40px;
  width: 100%;
  color: #fafbfe;
  border: none;
  background: #11a122;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.4s ease-out;
}
.submit:hover {
  box-shadow: 0 1px 10px #11a122;
}
.messages {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1050;
}
